# Secrets
.env

# Python
.venv
*.pyc
.pycache
.ipynb_checkpoints/
.uv-cache/
.uv-python/

# Editor / local
.vscode/
pyrightconfig.json
dev.log

# Data
*.csv
*.pt
*.pkl
*.png
*.html
*.pdf
*.arrow
*.feather
*.bak
*.parquet

# Retain everything in docs
!docs/
!docs/**